body {
  background-color: #161e29;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
}

.bg {
  background-color: #161e29;
}

header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  list-style: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: purple;
}

.list {
  margin-right: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
