body {
  background-color: #0b0c0c;
  font-family: "General Sans", sans-serif;
  color: whitesmoke;
}

.bg {
  background-color: #16191f;
}

header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  list-style: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: purple;
}

.list {
  margin-right: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(222, 219, 223, 0.24),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease-in-out;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
